<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="../"><img style="width:135px; height:45px;" src="~/img/logo.png" /></a>
        <a href="../" style="margin-top: 12px;">Home</a>
        <a asp-action="Submit" style="margin-top: 12px;">Submit a Suggestion</a>
        <a asp-action="See" style="margin-top: 12px;">See Suggestions</a>
    </div>


    <div class="asideList" style="height: 700px;">
        <br />
        <br>
        @RenderBody()

        <br />
        <br />


    </div>


</body>
</html>
