

@model Cart

    @*InvalidOperationException: The model item passed into the ViewDataDictionary
 is of type 'asp_net_fifth_assignment.Models.SessionCart', 
but this ViewDataDictionary instance requires a model item of type 'asp_net_fifth_assignment.Pages.CartModel'.*@


    <div style="float: right; margin: 15px;">
        <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart"
           asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
            <i class="fa fa-shopping-cart"></i>
        </a>
    </div>


    @if (Model.Lines.Count() > 0)
    {
        <div style="float: right; margin-top: 30px;">
            <small class="navbar-text" style="color:white">
                <b>Your cart:</b>
                @Model.Lines.Sum(x => x.Quantity) item(s)
                @Model.ComputeTotalSum()
            </small>
        </div>
    }



